@font-face {
  font-family: 'terence_test';
  src:  url('fonts/terence_test.eot?vqb7yi');
  src:  url('fonts/terence_test.eot?vqb7yi#iefix') format('embedded-opentype'),
    url('fonts/terence_test.ttf?vqb7yi') format('truetype'),
    url('fonts/terence_test.woff?vqb7yi') format('woff'),
    url('fonts/terence_test.svg?vqb7yi#terence_test') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="test-"], [class*=" test-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'terence_test' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.test-home:before {
  content: "\e900";
}
.test-play:before {
  content: "\e912";
}
.test-user-tie:before {
  content: "\e976";
}
.test-enlarge:before {
  content: "\e989";
}
